<section class="hero is-fullheight has-text-centered" id="publications">
    <div class="hero-body">
        <div class="container">
            <h1>Publications</h1>

            <p class="is-size-5 is-uppercase has-text-weight-semibold has-text-black">
                A list of the publications where SALTED was used to generate static packings:
            </p>

            <ul>
                <li>Topic, N., & Pöschel, T. (2016). Steepest descent ballistic deposition of complex shaped particles. Journal of Computational Physics, 308, 421-437.</li>
                <li>Topić, N., Gallas, J. A., & Pöschel, T. (2012). Nonuniformities in the angle of repose and packing fraction of large heaps of particles. Physical Review Letters, 109(12), 128001.</li>
                <li>Topic, N., Gallas, J. A., & Pöschel, T. (2013). Characteristics of large three-dimensional heaps of particles produced by ballistic deposition from extended sources. Philosophical Magazine, 93(31-33), 4090-4107.</li>
                <li>Topic, N., Pöschel, T., & Gallas, J. A. (2015). Residual Defect Density in Random Disks Deposits. Scientific reports, 5(1), 12703.</li>
				<li>placeholder</li>
				<li>placeholder</li>
				<li>placeholder</li>
				<li>placeholder</li>
                <!-- Add more platforms as needed -->
            </ul>
        </div>
    </div>
</section>
